@use '../../../../styles/variables.scss' as *;

.blogs {
  width: 100%;
  height: max-content;
  margin: 2rem 0;
  padding: 0;

  .latest__blogs {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 2rem;
    margin: 2rem 0;

    @include sm {
      grid-template-columns: 1fr;
    }
  }

  button {
    display: flex;
    justify-self: center;
    margin: 4rem 0;
  }
}
