@import '../../../styles/variables.scss';

.hero {
  width: 90%;
  height: 85vh;
  margin: 1rem auto;
  border-radius: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(/blog1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 3rem;

  h3,
  h1,
  p {
    color: $card;
    width: 70%;
  }
}
